<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style_products.css">
    <title>portal de administracion de inventarios</title>
</head>
<body>
    <div id="total">
        
       
        
        <div id="sidebar" >
            <div class="toggle-btn">
                <span>&#9776</span> 
            </div>
            <ul>
                <li><img src="resources/assets/img/logo.jpg" alt="logotipo" class="logo"></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Proveedores</a></li>
                <li><a href="">Cliente</a> </li>
                <li><a href="">Inventario</a> </li>
                <li><a href="">Ventas</a> </li>
                <li><a href="">Ingresos</a> </li>
            </ul>
        </div> 

        <main class="main">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa voluptatum consectetur saepe sunt aperiam ratione, dolorum aut. Incidunt, architecto? Debitis nisi odit numquam adipisci reiciendis facilis ipsum placeat inventore unde?
            Assumenda fuga deserunt blanditiis nesciunt tenetur possimus, eum quae obcaecati optio. Incidunt, vero natus inventore temporibus nobis fugiat dicta itaque aspernatur ipsum sapiente, modi soluta enim aliquam ea officia quasi!
            
        </main>

        

        <script src="resources/js/sibedar.js" charset="utf-8"></script>
    </div>
</body>
</html>   